<mat-toolbar color="primary" class=" fixed-top" >
     <mat-toolbar-row class="menu"><span>Work Management Tool</span>
       <div class="spacer">

     </div>

     <span class="fst-italic fw-bold">Hi &nbsp;{{username}}&nbsp;</span>
     <a class="text-decoration-none" mat-button routerLink="/profile">Profile</a>
     <a class="text-decoration-none" mat-button routerLink="/home"> Home</a>
     <a class="text-decoration-none" mat-button routerLink="/demand"> Demand</a>
     <img src="assets/logout.png" style="width:25px;height:25px" alt="logout" (click)="logout()">

</mat-toolbar-row>


</mat-toolbar>
<div style="height:65px;"></div>
