<div class="container-fluid p-0">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="primarySkill">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Primary Skill</th>
                <td mat-cell *matCellDef="let element">{{ element.primarySkill }}</td>
              </ng-container>

              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                <td mat-cell *matCellDef="let element">{{ element.location }}</td>
              </ng-container>

              <ng-container matColumnDef="availability">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Availability</th>
                <td mat-cell *matCellDef="let element">{{ element.availability }}</td>
              </ng-container>

              <ng-container matColumnDef="proposedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Practice</th>
                <td mat-cell *matCellDef="let element">{{ element.proposedBy }}</td>
              </ng-container>

              <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
                <td mat-cell *matCellDef="let element">{{ element.source }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
         

               <!-- Action Column -->
               <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef >actions</th>
              
                <td mat-cell *matCellDef="let myRowData" class="actionGroup">

                  <button class="btn btn-primary" >
                    Accepted
                  </button>&nbsp;
                  <button class="btn btn-danger" >
                    Rejected
                  </button>
                  <!-- <button class="btn btn-success" >
                    Available
                  </button>&nbsp;
                  <button class="btn btn-warning" >
                    Assigned
                  </button> -->
                 
                  <!-- <a href="profiles/download/" (click)="DownloadFile(myRowData)"><mat-icon>cloud_download</mat-icon> Resume</a> -->
                  <!-- <button *ngIf="myRowData?.path" class="btn btn-outline-dark" (click)="DownloadFile(myRowData)"  >
                    <mat-icon>cloud_download</mat-icon> Resume
                   </button> -->
                </td>
              </ng-container>

        </table>
     
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
</div>