<input [(ngModel)]="newValue" />

<button
  type="button"
  [disabled]="newValue === ''"
  (click)="getProfileBySearch()"
>
  search
</button>

<br />

<button mat-button (click)="getProfile()">getProfiles</button>

<button mat-button (click)="clearProfile()">clearProfiles</button>

<div class="table">
  <table mat-table [dataSource]="loadedpost" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="primarySkill">
      <th mat-header-cell *matHeaderCellDef>Primary Skill</th>
      <td mat-cell *matCellDef="let element">{{ element.primarySkill }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element">{{ element.location }}</td>
    </ng-container>

    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef>Availability</th>
      <td mat-cell *matCellDef="let element">{{ element.availability }}</td>
    </ng-container>

    <ng-container matColumnDef="proposedBy">
      <th mat-header-cell *matHeaderCellDef>Proposed By</th>
      <td mat-cell *matCellDef="let element">{{ element.proposedBy }}</td>
    </ng-container>

    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef>Source</th>
      <td mat-cell *matCellDef="let element">{{ element.source }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
