
/* .mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    text-align: right;
    /* padding-left: 860px;
}
.search{
    position: absolute;
    right: 207px;
    width: 100px;
    bottom: 393px;
    height: 75px;

} */
.mat-mdc-form-field {
    color: rgb(241, 245, 249);
    border-color: black;
}

.mdc-data-table__cell, .mdc-data-table__header-cell{
  /* padding: 0; */
}
.mdc-button{
  min-width: auto;
}
.search .mat-mdc-text-field-wrapper{
  border-bottom: 1px solid red !important;
}
form .ng-invalid{
  border: 1px solid red;
}

