<div class="container">
    <br/>
<h4>Demand Detail</h4>
    <div class="mat-elevation-z7">
        <table *ngIf="dataSource"  mat-table [dataSource]="dataSource" matSort>

          <!-- Customer Manager Column -->
          <ng-container matColumnDef="manager">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer manager</th>
            <td mat-cell *matCellDef="let row"> {{row.manager}} </td>
          </ng-container>

          <!-- Start Date Column -->
          <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell *matCellDef="let row"> {{row.created}} </td>
          </ng-container>
          
          <!-- Priority Column -->
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority </th>
            <td mat-cell *matCellDef="let row"> {{row.priority}} </td>
          </ng-container>

          <!-- skill Column -->
          <ng-container matColumnDef="skill">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>skill </th>
            <td mat-cell *matCellDef="let row"> {{row.skill}} </td>
          </ng-container>
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row mt-2" *matNoDataRow>
            <td class="mat-cell text-center" colspan="9">No Records Found</td>
          </tr>
        </table>
        </div>
    </div>
<br/>

    <div class="container">

        <h4>Profiles</h4>
        <form >
        <table class="table table-striped" matSort>
            <thead >
                <tr >
                  
                  <th>Name</th>
                  <th>Source</th>
                  <th>Location</th>
                  <th>Availability</th>
                  <th>Skill</th>
                  <th>Action</th>
                  
                </tr>
            </thead>
            <tbody>
                
              <tr *ngFor="let profile of profiles">
               
                <td><a >{{ profile.name}}</a></td>
                <td>{{ profile.source }}</td>
                <td>{{profile.location }}</td>
                <td>{{ profile.availability }}</td>
                <td>{{ profile.primarySkill }}</td>
                <td><input type="checkbox"  [(ngModel)]="profile.isChecked" [ngModelOptions]="{standalone: true}"
                  (change)="SubmitProfiles()" > </td>
                <td>
                  <button mat-button (click)="openProfile(contentDetails,profile)">
                    <mat-icon>remove_red_eye</mat-icon>
                  </button>
                </td>  
              </tr>

            </tbody>
            
          </table>
          <button type="submit" class="btn btn-info" (click)="GetProfileOnSubmit()">Submit</button>
        </form>
      </div>

      <!-- Detail Demand Start-->
<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Profiles</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="detailForm" *ngIf="detailForm">

      <!-- <div class="form-group">
        <label>Id</label>
        <div class="input-group">
          <input formControlName="id" id="id_Detail" class="form-control" readonly>
        </div>
      </div> -->

      <div class="form-group mt-2">
        <label>Name</label>
        <div class="input-group">
          <input  formControlName="name" id="name_Detail" class="form-control" readonly>
        </div>
      </div>

      <div class="form-group mt-2">
        <label>source</label>
        <div class="input-group">
          <input formControlName="source" id="source_Detail" class="form-control" readonly>
        </div>
      </div>

      <div class="form-group mt-2">
        <label>Location</label>
        <div class="input-group">
          <input formControlName="location" id="location_Detail" class="form-control" readonly>
        </div>
      </div>

     
      <div class="form-group mt-2">
        <label>availability</label>
        <div class="input-group">
          <input  formControlName="availability" id="availability_Detail" class="form-control" readonly>
        </div>
      </div>

      <div class="form-group mt-2">
        <label>Skill</label>
        <div class="input-group">
          <input formControlName="primarySkill" id="skill_Detail" class="form-control" readonly>
        </div>
      </div>

      <!-- <div class="form-group mt-2">
        <label>proposedBy</label>
        <div class="input-group">
          <input formControlName="proposedBy" id="proposedBy_Detail" class="form-control" readonly>
        </div>
      </div> -->
    </form>
  </div>

</ng-template>
<!-- Detail Demand End -->

<!--       <div class="mat-elevation-z8">
        <form >
        <table mat-table [dataSource]="profiles" matSort>
          <ng-container matColumnDef="assign">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Assign </th>
          <mat-cell *matCellDef="let profiles" class="actionGroup"> 
            <mat-checkbox #checkBox
             [(ngModel)]="profiles.isChecked" 
             [ngModelOptions]="{standalone: true}"
          (change)="SubmitProfiles()">
        </mat-checkbox>
        </mat-cell>
        </ng-container>

          
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
            <td mat-cell *matCellDef="let row"> {{row.source}} </td>
          </ng-container>
    
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
            <td mat-cell *matCellDef="let row"> {{row.location}} </td>
          </ng-container>
    
          <ng-container matColumnDef="availability">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Availability</th>
            <td mat-cell *matCellDef="let row"> {{row.availability}} </td>
          </ng-container>
    
          <ng-container matColumnDef="primarySkill">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill </th>
            <td mat-cell *matCellDef="let row"> {{row.primarySkill}} </td>
          </ng-container>
          
     <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let myRowData" class="actionGroup">
        
        <button mat-button >
          <mat-icon>remove_red_eye</mat-icon></button>
          
          
          
          </td>
      
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="ShowColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: ShowColumns;"></tr>

      <tr class="mat-row mt-2" *matNoDataRow>
        <td class="mat-cell text-center" colspan="9">No Records Found</td>
      </tr>
    </table>
    <button type="submit" class="btn btn-info" (click)="GetProfileOnSubmit()">Submit</button>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>


  </form>
  
</div>  -->
