.success-snackbar .mdc-snackbar__surface{
  background: #28a745!important;
  POSITION: ABSOLUTE;
  TOP: 0;
  TEXT-ALIGN: CENTER;
  COLOR: #fff;
}
.error-snackbar .mdc-snackbar__surface{
  background: #dc3545 !important;
  POSITION: ABSOLUTE;
  TOP: 0;
  TEXT-ALIGN: CENTER;
  COLOR: #fff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
