.success-snackbar .mdc-snackbar__surface{
  background: #28a745!important;
  POSITION: ABSOLUTE;
  TOP: 0;
  TEXT-ALIGN: CENTER;
  COLOR: #fff;
}
.error-snackbar .mdc-snackbar__surface{
  background: #dc3545 !important;
  POSITION: ABSOLUTE;
  TOP: -50;
  TEXT-ALIGN: CENTER;
  COLOR: #fff;
}
.cdk-overlay-container{
  z-index: 1111;
    position: absolute;
    left: 0;
    right: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
