/* .mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    text-align: left;
    background-color: white;
} */

.mat-mdc-form-field {
    color: rgb(241, 245, 249);
    border-color: black;
}


.mdc-button{
  min-width: auto;
}
.search .mat-mdc-text-field-wrapper{
  /* border-bottom: 1px solid red !important; */
}
form .ng-invalid{
  /* border: 1px solid red; */
}

table thead tr th div,.mdc-data-table__header-cell{
  font-weight: bold;
  text-transform: capitalize;
 }