<div class="container">
  <div class="row m-2">
    <!-- New Demand start -->
    <div class="col-3">
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
      <i class="fa fa-user"></i>
      <mat-icon>note_add</mat-icon> New Demand</button>
    </div>
    <!-- New Demand end -->
    <!-- Excel upload start -->
    <div class="col-3">
      <button class="btn btn-md btn-outline-primary" (click)="open(contentExcel)"> 
        <i class="fa fa-user"></i>
        <mat-icon>note_add</mat-icon> Excel Upload </button>
    </div>
    <!-- Excel upload end -->
    <!-- Search start -->
    <div class="search col-6 d-flex justify-content-end">
      <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
        <button matSuffix mat-button><mat-icon >search</mat-icon></button>
      </mat-form-field>

    </div>
    <!-- Search end -->
  </div>

  <!-- Dynamic table display start -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Customer Manager Column -->
      <ng-container matColumnDef="manager">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer manager</th>
        <td mat-cell *matCellDef="let row"> {{row.manager}} </td>
      </ng-container>

      <!-- Start Date Column -->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
        <td mat-cell *matCellDef="let row"> {{row.created}} </td>
      </ng-container>

      <!-- End Date Column -->
      <!-- <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
        <td mat-cell *matCellDef="let row"> {{row.endDate}} </td>
      </ng-container> -->

      <!-- Ageing Column -->
      <ng-container matColumnDef="ageing">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ageing </th>
        <td mat-cell *matCellDef="let row"> {{row.ageing}} </td>
      </ng-container>

      <!-- Priority Column -->
      <!-- <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority </th>
        <td mat-cell *matCellDef="let row"> {{row.priority}} </td>
      </ng-container> -->

      <!-- skill Column -->
      <ng-container matColumnDef="skill">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>skill </th>
        <td mat-cell *matCellDef="let row"> {{row.skill}} </td>
      </ng-container>
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>actions</th>
        <!-- <td mat-cell *matCellDef="let row"> {{row.actions}} </td>  -->
        <td mat-cell *matCellDef="let myRowData" class="actionGroup">

          <button mat-button (click)="openDetails(contentDetails, myRowData)">
            <mat-icon>remove_red_eye</mat-icon></button>
          <button mat-button (click)="openEdit(contentEdit, myRowData)">
            <mat-icon>edit</mat-icon>
           
          </button>
          <button mat-button (click)="openDelete(contentDelete, myRowData)">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="btn btn-primary" type="button"  (click)="assign(myRowData);">
           Assign
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row mt-2" *matNoDataRow>
        <td class="mat-cell text-center" colspan="9">No Records Found</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>



  </div>
</div>
  <!-- Dynamic table display end -->
<!-- New Excel start -->
<ng-template #contentExcel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Demand</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmitExcel(f)" novalidate>
      
      Demand Excel : <input type="file" (change)="selectFile($event)" />

      <button data-dismiss="modal" class="btn btn-md btn-outline-primary" (click)="uploadFile()">Upload</button>    
      
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
<!-- New Excel End -->
<!-- New Demand start -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Demand</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  [formGroup]="newDemand"  (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="manager">Customer Manager</label>
        <div class="input-group">
          <input formControlName="manager" type="text" name="manager" id="manager" class="form-control" required >
        </div>
      </div>


      <div class="form-group mt-2">
        <label for="created">Start Date</label>
        <div class="input-group">
          <input formControlName="created" type="date" name="created" id="created" class="form-control"  required
            placeholder="yyyy-MM-dd" min="2000-01-01" max="2030-12-31" required />
        </div>
      </div>

      <!-- <div class="form-group mt-2">
        <label for="endDate">End Date</label>
        <div class="input-group">
          <input formControlName="endDate" type="date" name="endDate" id="endDate" class="form-control"
            placeholder="yyyy-MM-dd" min="2000-01-01" max="2030-12-31" required />
        </div>
      </div> -->
      <div class="form-group mt-2">
        <label for="ageing">Ageing</label>
        <div class="input-group">
          <input formControlName="ageing"  type="text" name="ageing" id="ageing" class="form-control"required >
        </div>
      </div>


      <div class="form-group mt-2">
        <label for="priority">Priority</label>
        <div class="input-group">
          <select formControlName="priority"  name="priority" id="priority" class="form-control"  required >
            <option value="">--Select--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

        </div>
      </div>


      <div class="form-group mt-2">
        <label for="skill">Skill</label>
        <div class="input-group">
          <select formControlName="skill" name="skill" id="skill" class="form-control"  required >
            <option value="">--Select--</option>
            <option value="Java">Java</option>
            <option value="React">React</option>
            <option value="Angular">Angular</option>
            <option value="Spring framework">Spring framework</option>
            <option value="Python">Python</option>
          </select>
          </div>
      </div>



      <div class="form-group mt-2">
        <label for="status">Status</label>
        <div class="input-group">
          <select  formControlName="status" name="status" id="status" class="form-control"  required >
            <option value="">--Select--</option>
            <option value="open">open</option>
            <option value="complete">complete</option>
            <option value="pending">pending</option>
            <option value="in-process">in-process</option>

          </select>

        </div>
      </div>
      <div class="text-center mt-2">
        <button type="submit" [disabled]="!newDemand.valid"  class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>

</ng-template>
<!-- New Demand End -->

<!-- Detail Demand Start-->
<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Demand</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="detailForm">

      <div class="form-group">
        <label>Customer Manager</label>
        <div class="input-group">
          <input formControlName="manager" id="manager_Detail" class="form-control" readonly>
        </div>
      </div>

      <div class="form-group mt-2">
        <label>Start Date</label>
        <div class="input-group">
          <input  formControlName="created" id="created_Detail" class="form-control" readonly>
        </div>
      </div>

      <!-- <div class="form-group mt-2">
        <label>End Date</label>
        <div class="input-group">
          <input formControlName="endDate" id="end_date_Detail" class="form-control" readonly>
        </div>
      </div> -->
      <div class="form-group mt-2">
        <label>Ageing</label>
        <div class="input-group">
          <input  formControlName="ageing" id="ageing_Detail" class="form-control" readonly>
        </div>
      </div>

      <div class="form-group mt-2">
        <label>Priority</label>
        <div class="input-group">
          <input formControlName="priority" id="priority_Detail" class="form-control" readonly>
        </div>
      </div>
      
      <div class="form-group mt-2">
        <label>Skill</label>
        <div class="input-group">
          <input formControlName="skill" id="skill_Detail" class="form-control" readonly>
        </div>
      </div>

      <div class="form-group mt-2">
        <label>Status</label>
        <div class="input-group">
          <input formControlName="status" id="status_Detail" class="form-control" readonly>
        </div>
      </div>




    </form>
  </div>

</ng-template>
<!-- Detail Demand End -->

<!-- Edit Demand Start -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Demand</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" >


      <div class="form-group ">
        <label for="manager">Customer Manager</label>
        <div class="input-group">
          <input formControlName="manager" class="form-control">
        </div>
      </div>


      <div class="form-group mt-2 ">
        <label for="created">Start Date</label>
        <div class="input-group">
          <input type="date" name="created" id="created" class="form-control" formControlName="created"
            placeholder="yyyy-MM-dd" min="2000-01-01" max="2030-12-31" 
            required />
        </div>
      </div>

      <!-- <div class="form-group  mt-2">
        <label for="endDate">End Date</label>
        <div class="input-group">
          <input type="date" name="endDate" id="endDate" class="form-control" formControlName="endDate"
            placeholder="yyyy-MM-dd" min="2000-01-01" max="2030-12-31" required />
        </div>
      </div> -->
      <div class="form-group  mt-2">
        <label for="ageing">Ageing</label>
        <div class="input-group">
          <input formControlName="ageing" class="form-control">
        </div>
      </div>

      <!-- <div class="form-group  mt-2">
        <label for="priority">Priority</label>
        <div class="input-group">
          <input formControlName="priority" class="form-control">
        </div>
      </div> -->


      <div class="form-group  mt-2">
        <label for="skill">Skill</label>
        <select id="country" formControlName="skill" class="form-select">
          <option *ngFor="let val of skillVal" [ngValue] = "val">{{ val }}</option>
        </select>
      </div>


      <div class="form-group mt-2 ">
        <label for="status">Status</label>
        <select id="country" formControlName="status" class="form-select">
          <option *ngFor="let val of statusVal" [ngValue] = "val">{{ val }}</option>
        </select>

      </div>




      <div class="text-center mt-3">
        <button  [disabled]="!editForm.valid" data-dismiss="modal" class="btn btn-info" (click)="onSave()">Save Demand</button>
      </div>
    </form>
  </div>

</ng-template>
<!-- Edit Demand End -->

<!-- Delete Demand Start -->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title ">Consent!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>Are you sure  want to delete this Demand.</div>

  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-primary" (click)="onDelete()">Yes</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
<!-- Delete Demand End -->

