<div class="status_div">
  <iframe src="http://localhost:3000/d-solo/zHEwFKa4k/demand?orgId=1&from=1670178601500&to=1683311397500&panelId=12" width="450" height="200" frameborder="0"></iframe>

  <iframe src="http://localhost:3000/d-solo/zHEwFKa4k/demand?orgId=1&from=1663612203500&to=1689877795500&panelId=14" width="450" height="200" frameborder="0"></iframe>
</div>
<div>
<iframe src="http://localhost:3000/d-solo/zHEwFKa4k/demand?orgId=1&from=1663612203500&to=1689877795500&panelId=6" 
width="450" height="400" frameborder="0"></iframe>
<iframe src="http://localhost:3000/d-solo/zHEwFKa4k/demand?orgId=1&from=1663612203500&to=1689877795500&panelId=10" 
width="450" height="400" frameborder="0"></iframe>

  <!-- <iframe 
  src="http://localhost:3000/d-solo/zHEwFKa4k/demand?orgId=1&from=1670178601500&to=1683311397500&panelId=10" 
  width="350" height="200" frameborder="0"></iframe> -->
  <iframe src="http://localhost:3000/d-solo/zHEwFKa4k/demand?orgId=1&from=1663612203500&to=1689877795500&panelId=16" 
  width="350" height="400" frameborder="0"></iframe>

</div>
