
<iframe 
src="http://localhost:3000/d-solo/zHEwFKa4k/demand?orgId=1&refresh=1m&from=1675103400000&to=1678386599000&panelId=2" 
width="450" 
height="200" 
frameborder="0"
>
</iframe>

<div class="w-100  p-0 banner-img" >

  <!-- <div class="row">
    <div class="col-sm">
      <a href="/" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>EMPLOYEE TRACKER
      </a>
    </div>
    <div class="col-sm">
      <a href="/demands" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>DEMAND Tracker
      </a>
    </div>

  </div> -->
</div>
